[Unit]
Description=TUF GUI Dash Web Application
After=network.target

[Service]
# Path to your project
WorkingDirectory=/usr/local/bin/TUF2000

# Path to your virtual environment Python
ExecStart=/usr/local/bin/TUF2000/TUFvenv/bin/python tufGuiDash.py

# Optional environment variables
Environment="PYTHONUNBUFFERED=1"

# If you want logs
StandardOutput=journal
StandardError=journal

# Run as a non-root user (recommended)
User=herve
Group=herve

# Automatically restart if it crashes
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target